@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.header {
  text-align: center; /* center the text */
}

/* Increase the font size of the <h1> element */
h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 8vw;
  text-align: center; /* center the text */
}

body {
  background-color: #FFE1E1;
  font-family: "Comfortaa", sans-serif;
  color:#8F312D;
}


.button-container {
  justify-content: space-between;
  display: flex;
}
.buttonL,
.buttonR {
  background-color: #2C1913;
  font-family: 'Comfortaa', sans-serif;
  font-size: 5vw;
  color: white;
  border: none;
  padding: calc(100px + 1.5625vw); /* Adjusted padding: 150px top/bottom, 50px left/right */
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  width: 50%;
  align-items: center; /* Center the buttons vertically */
  margin: 0;
  transition: transform 0.5s, opacity 1s;
}
/* Apply width to both left and right buttons in the same row */
.button-container .buttonL,
.button-container .buttonR {
  width: 50%; /* Adjusted width to create space between buttons */
}
  .button01:hover {
    opacity: 0.6;
   background-image:url("../images/corps-en-mouvement.jpg");
    background-size:100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  
  .button02:hover {
    opacity: 0.6;
   background-image:url("../images/nails.png");
    background-size:75% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .button03:hover {
    opacity: 0.6;
   background-image:url("../images/neon.png");
    background-size:50% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .button04:hover {
    opacity: 0.6;
   background-image:url("../images/parc-delaisse.jpg");
    background-size:75% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

.buttonMenu {
  background-color:#6E5750;
  font-size: 2.5vw;
  font-family: 'Comfortaa', sans-serif;
  color:white;
  transition-duration: 0.4s;
  border:none;
  padding: calc(25px + 1.5625vw); /* Adjusted padding: 150px top/bottom, 50px left/right */
  text-decoration: none;
  cursor: pointer;
  opacity:1;
  display: inline-block;
  width: 33.4%;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  overflow: hidden;
  text-align: center; /* center the text */
  height: auto;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  margin: -2.5px; /* 4px is the total horizontal space between buttons (2px on each side) */
  letter-spacing: normal; /* Reset the letter spacing */
}
.buttonMenu:hover {
  opacity: 0.6;

}
  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    font-size: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
  }
  
  .parallax__group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .footer {
    padding: 25px; /* some padding */
    text-align: center; /* center the text */
  }
  /* The popup form - hidden by default */
.popup {
  display: none;
    position: fixed;
    z-index: 0; /* Sit on top */
    top: 0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

/* Add styles to the form container */
.form-container {
  position: fixed;
  top: 0;
  bottom: 0%;
  right: 25%;
  left:25%;
  width:50%;
  height:100%;
  background-color: #FFE1E1;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 1s
}

/* Set a style for the submit/login button */
.form-container .btn {
  font-family: "Comfortaa", sans-serif;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #2C1913;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
* {
  box-sizing: border-box;
}
.description{
  margin-left: 2vw;
  margin-right:2vw;
  height: 18vh;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 60vh;
}
.img-container{
  background-color: #fff2f2;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  color:white;
  top: 50%;
  text-align: center;
  bottom: 0;
  width:10%;
  height:8%;
  padding-top: 1%;
  padding-right: 0px;
  padding-bottom: 1%;
  padding-left: 0px;
  font-size: 1.5vw;
  margin-top: -3%;
  user-select: none;
  -webkit-user-select: none


}

/* Position the "next button" to the right */
.next {
  right: -2vw;
  border-radius: 20% 20%;
}

/* Position the "next button" to the right */
.prev {
  left: -2vw;
  border-radius: 20% 20%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #2C1913;
}

/* Number text (1/3 etc) */
.numbertext {
  font-family: "Comfortaa", sans-serif;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Container for image text */
.caption-container {
  font-family: "Comfortaa", sans-serif;
  width:100%;
  height:15vh;
  background-color: #2C1913;
  color: white;
  text-align: center;
  padding: 2% 1%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.icon{
  width:3vw;
  height:6vh;
  float:right;
  margin-right:1vw;
}
.icon:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}
.fadeHome{
  float: left;
  top:0;
  left:0;
  margin-left: 1vw;
  width:3vw;
  height:6vh;
}
.fadeHome:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}
.footer {
  padding: 25px; /* some padding */
  text-align: center; /* center the text */
}
  /* Add Animation */
@-webkit-keyframes slideIn {
  from {top: 0%; opacity: 0} 
  to {top: 10%; opacity: 1}
}

@keyframes slideIn {
  from {top: 0%; opacity: 0}
  to {top: 10%; opacity: 1}
}


@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}